@import "../mixin";
@import "../var";
.looking__for__more__wrapper {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  margin-bottom: 500px;
  @include flexColumnAndCenter;
  gap: 10px;
  h1 {
    @include headingTypography(1.5rem);
    text-align: center;
  }
  button {
    @include buttonProps;
    color: $yellowishColor;
    border-color: $yellowishColor;
  }
}
